body {
    background-color: beige;
}
.contenedor {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.encabezado {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
.main {
    display: flex;
    flex: 1;
}
.lateral {
    background-color: #f0f0f0;
    width: 150px; /* Ancho del panel lateral */
    padding: 15px;
    display: flex;
    flex-direction: column
}
.calendario {
    background-color: #333;
    color: white;
    padding: 10px;
    border-color: #00a7b3;
    margin: 10px;
    border-radius: 5px;
}
.recetas {
    background-color: #333;
    color: white;
    padding: 10px;
    border-color: #00a7b3;
    margin: 10px;
    border-radius: 5px;
}
.lista {
    background-color: #333;
    color: white;
    padding: 10px;
    border-color: #00a7b3;
    margin: 10px;
    border-radius: 5px;
}
.principal {
    background-color: #00a7b3;
    flex: 1;
    color: white;
    padding: 20px;
    overflow-y: auto;
}
.semana {
    background-color: #fff6f0;
    padding: 15px;
    border-radius: 5px;
}
.semana h2 {
    color: #333;
    text-align: center;
    margin: 10px;
}
.dia {
    margin-bottom: 15px;
}

.dia h5 {
    margin-top: 0px;
    margin-bottom: 5px;
    color: #333;
}

.comidas {
    display: flex;
    justify-content: space-between;
    background-color: #0699b5;
    padding: 10px;
    border-radius: 4px;
}

.comida {
    background-color: #333;
    color: white;
    border-color: #00a7b3;
    padding: 10px 20px;
    border-radius: 4px;
    width: 45%;
    text-align: center;
}


